<h5>
  <p>
    <form>
        <div class="form-group">
            <label for="name">Nome completo:</label>
            <input id="name" type="text" class=form-control>
          </div>
        <div class="form-group">
          <label for="phone">Telefone:</label>
          <input id="phone" type="number" class=form-control placeholder="Ex: (14)4002-8922">
        </div>
        <div class="form-group">
          <label for="email">E-mail:</label>
          <input id="email" type="email" class=form-control placeholder="Ex: nome@gmail.com">
        </div>
        <div class="form-group">
          <label for="idade">Idade:</label>
          <input id="idade" type="number" class=form-control>
        </div>
        <div class="form-group">
          <label for="cidade">Cidade:</label>
          <input id="cidade" type="text" class=form-control>
        </div>
        <div class="form-group">
          <label for="estado">Estado:</label>
          <input id="estado" type="text" class=form-control>
        </div>
        <div class="form-group">
          <label for="usuario">Usuário:</label>
          <input id="usuario" type="text" class=form-control>
        </div>
        <div class="form-group">
          <label for="senha">Senha:</label>
          <input id="senha" type="password" class=form-control>
        </div>
  
        <button type="submit" class="btn btn-success">Salvar</button>
      </form>
      
</h5>
